/*
variables
*******************************************************************************/

// grid variables
// $grid-width: 114rem;
// $gutter-vertical: 8rem;
// $gutter-vertical-small: 6rem;
// $gutter-horizontal: 6rem;
$color-black: #000;
/*
mixins
*******************************************************************************/

// @mixin clearfix {
//   &::after {
//     content: "";
//     display: table;
//     clear: both;
//   }
// }

@mixin perfectCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*
base styles
*******************************************************************************/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  height:1200px;
}

header {
  height: 100vh;
  width: 100vw;
  background-image: url('./../images/yoga_3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(107,107,107,1);
  -moz-box-shadow: 0px 5px 10px 0px rgba(107,107,107,1);
  box-shadow: 0px 5px 10px 0px rgba(107,107,107,1);
}

a {
  text-decoration: none;
  &:visited {
    // color: inherit;
  }
}

/*
navigation
*******************************************************************************/

nav {
  position: fixed;
  top: 0;
  width: 100%;

  & ul {
    display: table;
    width: 100%;
    // padding: 1rem;

    & li {
      display: table-cell;
      width: 50%;
      vertical-align: middle;
      padding: 0 1rem;

      & a.logo {
        display: inline-block;
        padding: 0 1rem;
        font-size: 2rem;
        letter-spacing: 3px;
      }

      & ul.nav-item-parent {
        width: 70%;
        margin-left: 30%;
        padding: 1rem;

        & li.nav-item  {
          max-width: 33.3333333333333%;
          text-align: center;

          & a {
              display: inline-block;
              padding: 1rem;
          }
        }
      }
    }
  }
}

.nav-link {
  color: whitesmoke;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 2px;

  &-button {
    border: solid 2px whitesmoke;
    transition: background-color 0.5s ease;

    &:hover {
      background-color: whitesmoke;
      color: $color-black;
    }
  }
}

/*
header text
*******************************************************************************/

.header-text {
  @include perfectCenter
  text-align: center;
  & h1 {
    font-weight: lighter;
    color: whitesmoke;
    letter-spacing: 2px;
    font-size: 2.25rem;
  }
  & > a {
    display: inline-block;
    padding: 1rem;
    margin: 1.75rem 0 0 0;
  }
}

/*
utilities
*******************************************************************************/

.u-float-right {
  float: right;
}

/*
grid scss
*******************************************************************************/

// .row {
//   max-width: $grid-width;
//   margin: 0 auto;
//
//   &:not(:last-child) {
//     margin-bottom: $gutter-vertical;
//
//     @include respond(tab-port) {
//       margin-bottom: $gutter-vertical-small;
//     }
//   }
//
//   @include respond(tab-port) {
//     max-width: 50rem;
//     padding: 0 3rem;
//   }
//
//   @include clearfix;
//
//   [class^='col-'] {
//     float: left;
//
//     &:not(:last-child) {
//       margin-right: $gutter-horizontal;
//
//       @include respond(tab-port) {
//         margin-right: 0;
//         margin-bottom: $gutter-vertical-small;
//       }
//     }
//
//     @include respond(tab-port) {
//       width: 100%!important;
//     }
//   }
//
//   .col-1-of-2 {
//     width: calc((100% - #{$gutter-horizontal}) / 2);
//   }
//
//   .col-1-of-3 {
//     width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
//   }
//
//   .col-1-of-4 {
//     width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
//   }
//
//   .col-2-of-3 {
//     width: calc( 2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal} );
//   }
//
//   .col-2-of-4 {
//     width: calc( 2 * ((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal} );
//   }
//
//   .col-3-of-4 {
//     width: calc( 3 * ((100% - 3 * #{$gutter-horizontal}) / 4) + 2 * #{$gutter-horizontal} );
//   }
//
// }
