/*
variables
*******************************************************************************/
/*
mixins
*******************************************************************************/
/*
base styles
*******************************************************************************/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  height: 1500px; }

header {
  height: 100vh;
  width: 100vw;
  background-image: url("./../images/yoga_3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0px 5px 10px 0px #6b6b6b;
  -moz-box-shadow: 0px 5px 10px 0px #6b6b6b;
  box-shadow: 0px 5px 10px 0px #6b6b6b; }

a {
  text-decoration: none;
  cursor: pointer; }
  a:visited {
    color: #fff; }

/*
navigation
*******************************************************************************/
nav {
  position: fixed;
  top: 0;
  width: 100%; }
  nav ul {
    display: table;
    width: 100%; }
    nav ul li {
      display: table-cell;
      width: 50%;
      vertical-align: middle;
      padding: 0 1rem; }
      nav ul li a.logo {
        display: inline-block;
        padding: 0 1rem;
        font-size: 2rem;
        font-weight: 300;
        letter-spacing: 2px;
        text-transform: uppercase; }
      nav ul li ul.nav-item-parent {
        width: 70%;
        margin-left: 30%;
        padding: 1rem; }
        nav ul li ul.nav-item-parent li.nav-item {
          max-width: 33.3333333333333%;
          text-align: center; }
          nav ul li ul.nav-item-parent li.nav-item a {
            display: inline-block;
            padding: 1rem; }

.nav-link {
  color: whitesmoke;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 2px;
  transition: transform .8s ease; }
  .nav-link:hover:not(.logo) {
    transform: scale(1.2); }
  .nav-link-button {
    color: whitesmoke;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 2px;
    border: solid 1px whitesmoke;
    transition: all .8s ease; }
    .nav-link-button:hover {
      background-color: whitesmoke;
      color: #000; }

/*
header text
*******************************************************************************/
.header-text {
  margin: 2rem 0 0 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center; }
  .header-text h1 {
    font-weight: 100;
    color: whitesmoke;
    letter-spacing: 2px;
    font-size: 3.5rem; }
  .header-text > a.hero-button {
    display: inline-block;
    padding: 1rem;
    margin: 1.75rem 0 0 0; }

/*
sections
*******************************************************************************/
/*
utilities
*******************************************************************************/
.u-float-right {
  float: right; }

/*
grid scss
*******************************************************************************/
