doctype html
html(lang='en')
  head
    title Anna Catlin Yoga 
    link(href="https://fonts.googleapis.com/css?family=Lato:100,300,400&display=swap" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="./css/main.css")
  body
    div.hero
      header
        nav.nav
          ul.nav-list
            li
              a(href='#' class="logo logo-link") Anna Catlin
            li
              ul.nav-item-parent
                li.nav-item 
                  a(href='#' class="nav-link") About
                li.nav-item 
                  a(href='#' class="nav-link") Yoga
                li.nav-item 
                  a(href='#' class="nav-link-button") Contact
                  
        .header-text
          h1 Welcome to this beautiful and #[br] ancient practice
          a(href='#' class="nav-link-button hero-button") Join today
          
      .about-section
        h2.about-section-header Anna has been an accredited teacher for over 24 years.
      
    main 
    
    script(type="text/javascript" src="./js/main.js")
      
      
        
      
      //- .row
      //-   .col-1-of-2
      //-     p Col 1 of 2
      //-   .col-1-of-2
      //-     p Col 1 of 2
      //- .row
      //-   .col-1-of-3
      //-     p Col 1 of 3
      //-   .col-1-of-3
      //-     p Col 1 of 3
      //-   .col-1-of-3
      //-     p Col 1 of 3
      //- .row
      //-   .col-1-of-3
      //-     p Col 1 of 3
      //-   .col-2-of-3
      //-     p Col 2 of 3
      //- .row
      //-   .col-1-of-4
      //-     p Col 1 of 4
      //-   .col-1-of-4
      //-     p Col 1 of 4
      //-   .col-1-of-4
      //-     p Col 1 of 4
      //-   .col-1-of-4
      //-     p Col 1 of 4
      //- .row
      //-   .col-1-of-4
      //-     p Col 1 of 4
      //-   .col-1-of-4
      //-     p Col 1 of 4
      //-   .col-2-of-4
      //-     p Col 2 of 4
      //- .row
      //-   .col-1-of-4
      //-     p Col 1 of 4
      //-   .col-3-of-4
      //-     p Col 3 of 4
