doctype html
html(lang='en')
  head
    title Gulp, Pug, SCSS boilerplate
    link(rel="stylesheet" type="text/css" href="./css/main.css")
  body
    header
      h1.header-text Hello, Rob!
      p My boilerplate setup.
    main
      h2 What can 'Hello, Boilerplate!' do for you?.
      ul
        li Compile Pug into HTML
        li Compile Scss into CSS
        li Minify images
        li Feed your cat
        li Ok... maybe not feed your cat..
    aside.aside 
      p This is an aside with stuff about my amazing boilerplate. 
      
    script(type="text/javascript" src="./js/main.js")
      
